In [1]:
# Natural Language to SQL from Scratch with Tensorflow

In [3]:
# import libraries
import numpy as np
import pandas as pd
import re
import string

In [ ]:
# print data
df.head()